h1 {
    text-align: center;
}

.usa-map {
    display: flex;
    justify-content: center;
}

path {
    pointer-events: all;
}

path:hover {
    opacity: 0.50;
    cursor: pointer;
}

.DC:hover {
    opacity: 0.50;
    cursor: pointer;
}

.DC:after{
    content: "my tooltip";
    padding: 2px;
    display:none;
    position: relative;
    top: -20px;
    right: -30px;
    width: 150px;
    text-align: center;
    background-color: #fef4c5;
    border: 1px solid #d4b943;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}
.DC:hover:after{
    display: block;
}